<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uoa.di.gr.thesis">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:hardwareAccelerated="false"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.AuthenticationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
        android:name=".activities.ZoneActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
            </activity>
        <activity
            android:name=".activities.DataCollectionActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <service
            android:name=".services.DataCollectionService">
            <!--android:icon="@drawable/icon"-->
            <!--android:label="@string/service_name"-->

        </service>
        <service
            android:name=".services.FallDetectionService">
            <!--android:icon="@drawable/icon"-->
            <!--android:label="@string/service_name"-->

        </service>
        <service
            android:name=".services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.NotificationGenie">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".services.ZoneDetetectionService">
            <!--android:icon="@drawable/icon"-->
            <!--android:label="@string/service_name"-->

        </service>

        <receiver
            android:name=".services.StartDataCollectionServiceAtBootReceiver"
            android:label="StartDataCollectionServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".services.FallAlarmReceiver"
            android:exported="false">
        </receiver>
        <receiver
            android:name=".services.FallAlarmReceiver"
            android:exported="false">
        </receiver>

    </application>

</manifest>